@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');

body>header {
    background-color: #046DD5;
    padding-left: 1em;
}

body>header>h1 {
    padding-top: 15px;
}

body>header>h2 {
    margin-top: -20px;
}

body>header>div {
    padding-bottom: 15px;
    font-size: 1.2em;
}

body>header a{
    color: #ffff;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;

    transition: 0.5s all;
    overflow: hidden;
    max-height: 30em;
  }
  
  li {
    border-top: 2px solid white; 
    background-color: #336699;
    display: block;
    padding: 1em;
    text-align: center;
  }
  
  li a {
    color: white;
  }
  
  #hamburger:checked + label + ul {
    max-height: 0;
  }
  
  label.hamburger::before {
    content:"\2715";
  }
  
  #hamburger:checked + label::before {
    content:"\2630";
  }
  
  #hamburger {
    display: none;
  }
  
  label.hamburger {
    background-color: black;
    color: white;
    display: block;
    padding: 1em;
    width: 18em;
  }

#related {
    background-color: #2A2F33;
    color: #ffff;
    padding: 1em;
    margin-bottom: 1em;
}

#related a {
    color: #ffff;
}

#news>article>header {
    position: absolute;
    width: 10em;
    font-size: 1.5em;
    margin-left: 1em;
    color: white;
    text-shadow: 3px 3px black;
}

#news>article>p:first-of-type:first-letter{
    font-size: 2em;
}

article>footer {
    background-color: #F4655F;
    color: white;
    padding: 0.5em;
}

footer {
    background-color: black;
    color: white;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 1px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

footer a{
    color: white;
}